.resume__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
}

.resume__title {
  font-size: 4vw;
}

.resume__downloadLink {
  margin-left: 10px;
  color: deepskyblue;
  text-decoration: none;
  vertical-align: middle;
  font-size: 4vw;
}

iframe {
  margin: 15px;
  border: 3px solid black;
  border-radius: 15px;
  width: 95%;
  height: 500px;
}

@media screen and (max-width: 1024px) {
  .resume__title {
    font-size: 4vw;
  }
  
  .resume__downloadLink {
    font-size: 4vw;
  }

  .resume__wrapper {
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .resume__title {
    margin-top: 5px;
    font-size: 5vw;
  }
  
  .resume__downloadLink {
    font-size: 5vw;
  }
}

@media screen and (max-width: 425px) {
  .resume__title {
    font-size: 6vw;
  }
  
  .resume__downloadLink {
    font-size: 6vw;
  }
}