form {
  padding: 0 10px;
  width: 50%;
}

.contact__formContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.contact__h1 {
  align-self: flex-start;
}

.contact__inputContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 768px) {
  form {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

  .contact__formContainer {
    align-items: center;
  }

  .contact__h1 {
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  form {
    width: 90%;
  }
}
