.header__container {
  padding-left: 15px;
  border-bottom: 10px solid black;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header__container {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}
