:root {
  --section-bg: #36558f;
  --app-bg: #648767;
  background-image: url("../src/assets/cover/Hubble-ultra-deep-field.jpg");
  background-size: stretch;
  background-position: center;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "Russo One", sans-serif;
}

.app__appBody {
  min-height: 100vh;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  background-color: var(--section-bg);
  border-radius: 15px;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 56px;
}

h2 {
  margin: 5px 10px;
  font-size: 40px;
}

@media screen and (max-width: 1024px) {
  h1 {
    margin: 0;
    padding: 10px 0 6px 0;
    font-size: 6vw;
    align-self: center;
  }

  .app__appBody {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 6vw;
  }

  .app__appBody {
    width: 100vw;
  }
}
