:root {
  --primary-text: whitesmoke;
  --secondary-text: #bfc0c0;
  --bg-color: #392f5a;
  --section-bg: #36558f;
  --border-color: #ffd700;
  --app-bg: #648767;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: "Russo One", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
