nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.nav__listContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.nav__li {
  list-style-type: none;
  margin: 1.5vw;
  align-self: center;
}

.nav__link {
  font-size: 1.7vw;
  background-color: beige;
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 10px;
  max-height: 26px;
}

.nav__link:hover {
  background-color: black;
  color: whitesmoke;
}

.nav__isActive {
  background-color: rgb(245, 215, 160);
  color: blue;
}

@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav__listContainer {
    justify-content: space-around;
  }

  .nav__li {
    margin: 1vw;
  }

  .nav__link {
    font-size: 3vw;
  }
}

@media screen and (max-width: 425px) {
  .nav__listContainer {
    flex-wrap: wrap;
  }
}